.section {
  width: 100%;
  height: 100%;
  padding: 120px 0;
  overflow-y: scroll;

  .h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #031f42;
    font-weight: 700;
  }

  .h3 {
    font-size: 14px;
    font-weight: 700;
    color: #031f42;
    margin-bottom: 10px;
  }

  .containerWrap {
    width: 1024px;
    margin: 0 auto;

    .container {
      width: 100%;
      // height: 780px;
      margin: 0 auto;
      background: white;
      padding: 5rem 10rem;
      box-sizing: border-box;
      border: 1px solid #e7eaf3;
      border-radius: 5px;
      box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
    }

    .containerBottom {
      width: 100%;
      margin: 0 auto;
      background: white;
      padding: 5rem 3rem;
      box-sizing: border-box;
      border: 1px solid #e7eaf3;
      border-radius: 5px;
      box-shadow: 0 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
    }
  }

  .deploySuccess {
    width: 100%;
    background: #5eda9e;
    text-align: center;
    padding: 75px 0;
    box-shadow: 0.5rem 0.5rem 1.2rem rgba(189, 197, 209, 0.2);
    color: #fff;
    position: absolute;
    bottom: 70px;
  }
  .deploySuccessDescWrap {
    width: 1140px;
    margin: 0 auto;
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    display: flex;

    .fontAweSomeWrap {
      display: flex;
      align-items: center;
      padding: 0 50px;
      font-size: 30px;
    }
  }
}

.tabs {
  .tabList {
    // background: red;
    display: flex;
    justify-content: space-between;
    .tab {
      width: 50%;
      text-align: center;
      padding: 25px 10px;
      font-size: 16px;
      font-weight: 700;
      color: #9c9c9c;
    }

    .preparing {
      width: 50%;
      text-align: center;
      padding: 25px 10px;
      font-size: 16px;
      font-weight: 700;
      color: #9c9c9c;
    }
  }

  .tabPanel {
    // background: red;

    .textarea {
      width: 100%;
      height: 200px;
      line-height: 1.4;
      margin-bottom: 30px;
      padding: 10px;
      font-family: monospace;
      font-size: 16px;
    }

    .transactionBox {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      form {
        width: 48%;
      }
    }
  }
}

.accountTabs {
  flex: 0.6;
  display: flex;
  flex-direction: column;

  .accountTab {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #9c9c9c;
    // border-right: 2px solid #031f42;
  }
}

.description {
  padding: 20px 0;
  font-size: 14px;
  color: #9699b2;
  line-height: 20px;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  text-indent: 10px;
  border: 1px solid #ccc;
  font-family: monospace;
  font-size: 16px;
}
.file {
  width: 100%;
  height: 40px;
  text-align: right !important;
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
}
.submit {
  background: #031f42;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  margin: 20px auto 0;
  display: block;
  width: 100%;
  height: 40px;
  font-family: monospace;
  font-size: 16px;
}
.deploySuccessDesc {
  font-size: 18px;
  line-height: 30px;
}
